body {
    margin: 0;
    padding: 0;
    font: 1.3rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}

.container {    
    margin: 5rem auto;
    text-align: center;
    /* background-color: blueviolet; */
}

#error_message {
    color: red;
}

#reset-form input {
    display: block;
    width: 20rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 1px solid gray;
    outline: none;
}

#reset-form input:focus {
    border: 1px solid #69be00;
}

#reset-form button {
    padding: 0.8rem;
    font-size: large;
    color: white;
    background-color: #69be00;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 200ms;
}

#reset-form button:hover {
    background-color: #58a000;
}